.dashboard-header {
    position: sticky;
    top: 0;
    z-index: 100;
    /* padding: .4rem 0; */
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;

}

.header-left {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header-logo {
    width: 4.4rem;
    height: 4rem;
    border-radius: 50%;
    /* border: 2px solid var(--secondary-color); */
    padding: 2px;
}

.header-title {
    color: var(--dark-gray);
    font-size: 1.7rem;
    font-weight: 700;
    text-transform: capitalize;
}

.header-right {
    display: flex;
    align-items: center;
}

.logout-btn {
    background: var(--secondary-color);
    color: var(--white);
    border: none;
    padding: 0.8rem 1.5rem;
    border-radius: 0.6rem;
    cursor: pointer;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 600;
    font-family: var(--primary-font);
    transition: var(--transition);
    box-shadow: 0 2px 5px rgba(3, 108, 226, 0.3);
}

.logout-btn:hover {
    background: #0077ff;
    transform: scale(1.02);
    box-shadow: 0 4px 10px rgba(3, 108, 226, 0.4);
}

.login-form>.error-msg {
    position: relative;
    /* left:-3rem; */
    width: 80%;
    text-align: left;
    color: red;
    /* display: none; */
    background-color: rgba(255, 0, 0, 0.184);
    padding: 5px 15px;
    border-left: 3px solid red;
    font-size: 1rem;
    font-weight: 600;
    text-transform: capitalize;
    /* border: 2px solid black; */
    margin: .5rem 0 .5rem 0;
}

.login-form>.success-msg {
    position: relative;
    width: 80%;
    text-align: left;
    color: #27ae60;
    background-color: rgba(39, 174, 96, 0.184);
    padding: 5px 15px;
    border-left: 3px solid #27ae60;
    font-size: 1rem;
    font-weight: 600;
    text-transform: capitalize;
    margin: .5rem 0 .5rem 0;
    animation: slideIn 0.3s ease;
}